body {
	background-color: rgb(210, 210 210);
	color: black;
	font-family: 'KaiTi', 'Open Sans', sans-serif;
	margin: 0px;
	font-size: 20px;
}

h1 {
	font-family: 'KaiTi', 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: lighter;
	color:#69140E;
}

h2 {
	font-size: 28px;
	color: red;
	font-weight: bolder;
}

a {
	text-decoration: none;
	/*check*/
	color:#3B559F;
}

a:hover{
	text-decoration: none;
	color: purple;
}

#banner {
/*	background-image: url(https://images.unsplash.com/photo-1517683005126-77eae06eff34?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e907fe0823b3e5861f4147a4e95a5aa4&auto=format&fit=crop&w=1789&q=80);*/
/*	background-image: url(https://images.unsplash.com/photo-1441766333219-e89e835f4c1b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b19fa4c32e38eb00508cf1b8a6af08b&auto=format&fit=crop&w=1950&q=80);*/
/*	background-image: url(https://images.unsplash.com/photo-1437482078695-73f5ca6c96e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4b09dbc0dee444b290cedd3de445aac&auto=format&fit=crop&w=1050&q=80);*/
	background-image: url("images/banner_river.jpg");
	background-size: cover;
	height: 100%;
	padding: 100px;
	text-align: center;
	opacity: 0.85;
}

#banner h1 {
	color: white;
    text-shadow: 1px 1px black;
	font-weight: normal;
}

#banner p {
	color: white;
	font-size: 22px;
	margin: 10px;
	opacity: 0.9;
	font-weight: lighter;
    text-shadow: 1px 1px grey;
}

#banner p a {
	font-size: 24px;
	border-radius: 8px;
}

.btn-warning {
    color: white;
 }

.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.no-gutter {
    padding-right:0;
    padding-left:0;
    column-gap: 0;
}

.strip1 {
/*	background-image: url(https://images.unsplash.com/photo-1455058683937-c45857082982?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=20a6c5d5f8514587e3933d6e6bfd06ef&auto=format&fit=crop&w=2067&q=80);*/
	background: rgb(240, 240, 240);
	background-size: cover;
	height: 50%;
	width: auto;
	padding: 2.5px;
	text-align: center;
}

.strip1 p {
	font-size: 22px;
	font-weight: normal;
}


/*.strip2 {
	background-image: url(https://images.unsplash.com/photo-1503326782762-2926a1fb8651?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f9ca604034e03b68d844857e276e3ebb&auto=format&fit=crop&w=1953&q=80);
	background-size: cover;
	height: 40%;
	width: auto;
	padding: 10px;
	text-align: center;
}*/

.card {
	padding-left: 0px;
	padding-right: 0px;
	font-weight: normal;
	text-align: center;
	border: 0px;
	border-radius: 12px;
}

.card-title {
    margin-bottom: .75rem;
    margin-top: .75em;
}

.card-body {
    padding: 3.25rem;
}

.col-xs-12, .col-md-4, .col-lg-4 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.card img {
	padding: 0px;
	width: 100px;
}

.card h2 {
	padding: 0px;
}

.card li {
    padding-right: 20%;
    padding-left: 20%;
   	text-align: left;
	list-style-type:none;
}

li {
    padding-right: 20%;
    padding-left: 23%;
   	text-align: left;
	list-style-type:none;
}

dl, ol, ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left:10px;
}

#footer {
	background: rgb(220, 220, 220);
	padding: 20px;
	height: 120px;
	font-size: 20px;
	color: rgb(10, 10, 10);
}

#footer ul {
    margin-top: 0;
    margin-bottom: 0;
}

#footer a:hover {
	color: black;
}