body {
	background-color: rgb(210, 210 210);
	color: black;
	font-family: 'KaiTi', 'Open Sans', sans-serif;
	margin: 0px;
	font-size: 20px;
}

h1 {
	font-family: 'KaiTi', 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: lighter;
	color:#69140E;
}

h2 {
	font-size: 27px;
	color: red;
	font-weight: bolder;
}

a {
	text-decoration: none;
	/*check*/
	color:#3B559F;
}

a:hover{
	text-decoration: none;
	color: purple;
}

.container{
    position: relative;
    max-width: 100%;
}

.container #banner {
	vertical-align: middle;
}

.container .content {
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Black background with transparency */
    color: white;
    width: 100%;
    padding: 5%;
 }

/*banner in index.html begins*/

#banner {
/*	background-image: url(https://images.unsplash.com/photo-1517683005126-77eae06eff34?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e907fe0823b3e5861f4147a4e95a5aa4&auto=format&fit=crop&w=1789&q=80);*/
/*	background-image: url(https://images.unsplash.com/photo-1441766333219-e89e835f4c1b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b19fa4c32e38eb00508cf1b8a6af08b&auto=format&fit=crop&w=1950&q=80);*/
/*	background-image: url(https://images.unsplash.com/photo-1437482078695-73f5ca6c96e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4b09dbc0dee444b290cedd3de445aac&auto=format&fit=crop&w=1050&q=80);*/
	background-image: url("images/banner_river.jpg");
	background-size: cover;
	height: 100%;
	padding-top: 8%;
	padding-bottom: 8%;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	opacity: 0.90;
}

#banner h1 {
	color: white;
    text-shadow: 1px 1px black;
	font-weight: normal;
}

#banner p {
	color: white;
	font-size: 22px;
	margin: 10px;
	opacity: 0.9;
	font-weight: lighter;
    text-shadow: 1px 1px grey;
}

/*#banner p a {
	font-size: 24px;
	border-radius: 8px;
}*/

.btn-primary {
    color: white;
	font-size: 22px;
	border-radius: 8px;
 }

.btn-primary:hover {
 	color: white;
	border: 3px solid #3295ff;
 	cursor: pointer;
 }

/*banner in index.html ends*/


/*banner2 in articles.html begins*/

#banner2 {
	background-image: url("images/banner_river2.jpg");
	background-size: cover;
	height: 100%;
	padding-top: 8%;
	padding-bottom: 8%;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	opacity: 0.90;
}

#banner2 h1 {
	color: white;
    text-shadow: 1px 1px black;
	font-weight: normal;
}

#banner2 p {
	color: white;
	font-size: 22px;
	margin: 10px;
	opacity: 0.9;
	font-weight: lighter;
    text-shadow: 1px 1px grey;
}

.btn-warning {
    color: white;
	font-size: 22px;
	border-radius: 8px;
 }

.btn-warning:hover {
 	color: white;
	border: 3px solid #ffd351;
 	cursor: pointer;
 }

/*banner2 in articles.html ends*/


/*banner3 in articles.html begins*/

#banner3 {
	background-image: url("images/banner_river3.jpg");
	background-size: cover;
	height: 100%;
	padding-top: 8%;
	padding-bottom: 8%;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	opacity: 0.90;
}

#banner3 h1 {
	color: white;
    text-shadow: 1px 1px black;
	font-weight: normal;
}

#banner3 p {
	color: white;
	font-size: 22px;
	margin: 10px;
	opacity: 0.9;
	font-weight: lighter;
    text-shadow: 1px 1px grey;
}

.btn-success {
    color: white;
	font-size: 22px;
	border-radius: 8px;
 }

.btn-success:hover {
 	color: white;
	border: 3px solid #52b86a;
 	cursor: pointer;
 }

/*banner3 in articles.html ends*/

/*index.html container begins.*/

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.no-gutter {
    padding-right:0px;
    padding-left:0px;
    column-gap: 0px;
}

.strip1 {
/*	background-image: url(https://images.unsplash.com/photo-1455058683937-c45857082982?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=20a6c5d5f8514587e3933d6e6bfd06ef&auto=format&fit=crop&w=2067&q=80);*/
	background: rgb(240, 240, 240);
	background-size: cover;
	height: 50%;
	width: auto;
	padding: 0px;
	text-align: center;
}

.strip1 p {
	font-size: 22px;
	font-weight: normal;
}


/*.strip2 {
	background-image: url(https://images.unsplash.com/photo-1503326782762-2926a1fb8651?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f9ca604034e03b68d844857e276e3ebb&auto=format&fit=crop&w=1953&q=80);
	background-size: cover;
	height: 40%;
	width: auto;
	padding: 10px;
	text-align: center;
}*/

.grey-card {
	background-color: rgb(240, 240, 240);
}

.card {
	padding-left: 0px;
	padding-right: 0px;
	font-weight: normal;
	text-align: center;
	border: 0px;
	border-radius: 12px;
}

.card-title {
    margin-bottom: .75rem;
    margin-top: .75em;
}

.card-body {
    padding: 3.25rem;
}

.card-footer {
	position:relative;
	text-align: center;
    background-color: rgba(0,0,0,0.00);
    border-top: 0px solid rgba(0,0,0,.125);
}

/*.col-xs-12, .col-md-4, .col-lg-4 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}*/

.card img {
	padding: 0px;
	width: 100px;
}

.card h2 {
	padding: 0px;
}

.card li {
    padding-right: 20%;
    padding-left: 20%;
   	text-align: left;
	list-style-type:none;
}

/*li {
    padding-right: 20%;
    padding-left: 23%;
   	text-align: left;
	list-style-type:none;
}*/

dl, ol, ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left:10px;
}

/*index.html container ends.*/


/*article.html setting begins.*/

.container-article{
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

#article2 {
	background-color: rgb(240, 240, 240);
}

.container-article h1 {
	color: red;
	font-weight: normal;	
}

/*artiel.html setting ends.*/


/*resources.html setting begins.*/

.container-section {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 14%;
	padding-right: 14%;
}

#section2, #section4, #section6 {
	background-color: rgb(240, 240, 240);
}

.container-section h1 {
	color: red;
	font-weight: normal;	
}

/*resources.html setting ends.*/

/*return component in articles.html and resources.html*/
.return {
	font-size: 18px;
	text-align: right;
	padding-right: 2%;
}


/*footer begins.*/

#footer {
	background: rgb(230, 230, 230);
	padding: 1%;
	height: 15%;
	font-size: 20px;
	color: rgb(10, 10, 10);
}

#footer ul {
    margin-top: 0;
    margin-bottom: 0;
}

#footer a:hover {
	color: black;
}

/*footer ends.*/