.navbar {
    margin: 0;
    padding: 0;
}

.navbar ul a:hover { color: blue !important; }

body {
	background-color: rgb(210, 210 210);
	color: black;
	font-family: 'KaiTi', 'Open Sans', sans-serif;
	margin: 0px;
	font-size: 1.3vw;
}

h1 {
	font-family: 'KaiTi', 'Roboto', sans-serif;
	font-size: 3.5vw;
	font-weight: lighter;
	color:#69140E;
}

h2 {
	font-size: 1.9vw;
	color: red;
	font-weight: lighter;
}

a {
	text-decoration: none;
	/*check*/
	color:#00007f;
}

a:hover{
	text-decoration: none;
	color: blue;
}

p {
	font-size:1.3vw;
}

.container{
    position: relative;
    max-width: 100%;
}

.container #banner {
	vertical-align: middle;
}

.container .content {
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); /* Black background with transparency */
    color: white;
    width: 100%;
    padding: 3%;
 }

.container .content-bottom {           /*used for the banner in activity.html*/
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); /* Black background with transparency */
    color: white;
    width: 100%;
    padding: 2%;
 }

/*.div.content p {
	font-size: 3vw;
}*/

.btn {
 	margin: 1px;
}

/*banner in index.html begins*/

#banner {
/*	background-image: url(https://images.unsplash.com/photo-1517683005126-77eae06eff34?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e907fe0823b3e5861f4147a4e95a5aa4&auto=format&fit=crop&w=1789&q=80);*/
/*	background-image: url(https://images.unsplash.com/photo-1441766333219-e89e835f4c1b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b19fa4c32e38eb00508cf1b8a6af08b&auto=format&fit=crop&w=1950&q=80);*/
/*	background-image: url(https://images.unsplash.com/photo-1437482078695-73f5ca6c96e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4b09dbc0dee444b290cedd3de445aac&auto=format&fit=crop&w=1050&q=80);*/
	background-image: url("images/banner_river.jpg");
	background-size: cover;
	height: 100%;
	padding-top: 8%;
	padding-bottom: 8%;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	opacity: 0.90;
}

#banner h1 {
	color: white;
    text-shadow: 1px 1px black;
	font-weight: normal;
}

#banner p {
	color: white;
	font-size: 1.6vw;
	margin: 10px;
	opacity: 0.9;
	font-weight: lighter;
    text-shadow: 1px 1px grey;
}

/*#banner p a {
	font-size: 24px;
	border-radius: 8px;
}*/

.btn-primary {
    color: white;
	font-size: 22px;
	border-radius: 8px;
 }

.btn-primary:hover {
 	color: white;
	border: 3px solid #3295ff;
 	cursor: pointer;
 }

.logo {
	max-width: 10vw;
}
/*banner in index.html ends*/


/*banner2 in article.html begins*/

#banner2 {
	background-image: url("images/banner_river2.jpg");
	background-size: cover;
	height: 100%;
	padding-top: 6%;
	padding-bottom: 6%;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	opacity: 0.90;
}

#banner2 h1 {
	color: white;
    text-shadow: 1px 1px black;
	font-weight: normal;
}

#banner2 p {
	color: white;
	font-size: 1.6vw;
	margin: 10px;
	opacity: 0.9;
	font-weight: lighter;
    text-shadow: 1px 1px grey;
}

.btn-danger {
    color: white;
	font-size: 19px;
	border-radius: 8px;
 }

.btn-danger:hover {
 	color: white;
	border: 3px solid #de7b84;
 	cursor: pointer;
 }

/*banner2 in article.html ends*/


/*banner3 in article.html begins*/

#banner3 {
	background-image: url("images/banner_river3.jpg");
	background-size: cover;
	height: 100%;
	padding-top: 6%;
	padding-bottom: 6%;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	opacity: 0.90;
}

#banner3 h1 {
	color: white;
    text-shadow: 1px 1px black;
	font-weight: normal;
}

#banner3 p {
	color: white;
	font-size: 1.6vw;
	margin: 10px;
	opacity: 0.9;
	font-weight: lighter;
    text-shadow: 1px 1px grey;
}

.btn-success {
    color: white;
	font-size: 22px;
	border-radius: 8px;
 }

.btn-success:hover {
 	color: white;
	border: 3px solid #52b86a;
 	cursor: pointer;
 }

/*banner3 in article.html ends*/


/*banner_activity in activity.html begins*/

#banner-activity {
	background-image: url("images/banner_ls1.png");
	background-size: cover;
	height: 100%;
	padding-top: 23%;
	padding-bottom: 0%;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	opacity: 0.90;
}

#banner-activity h1 {
	color: white;
    text-shadow: 1px 1px black;
	font-weight: normal;
}

#banner-activity p {
	color: white;
	font-size: 1.6vw;
	margin: 10px;
	opacity: 0.9;
	font-weight: lighter;
    text-shadow: 1px 1px grey;
}

.btn-secondary {
    color: white;
	font-size: 22px;
	border-radius: 8px;
 }

.btn-secondary:hover {
 	color: white;
	border: 3px solid #acb0b3;
 	cursor: pointer;
 }

/*banner_activity in activity.html ends*/


/*index.html container begins.*/

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.no-gutter {
    padding-right:0px;
    padding-left:0px;
    column-gap: 0px;
}

.strip-grey {
/*	background-image: url(https://images.unsplash.com/photo-1455058683937-c45857082982?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=20a6c5d5f8514587e3933d6e6bfd06ef&auto=format&fit=crop&w=2067&q=80);*/
	background: rgb(240, 240, 240);
	background-size: cover;
	height: 50%;
	width: auto;
	padding: 0px;
	text-align: center;
}

.strip-grey p {
	font-size: 22px;
	font-weight: normal;
}


/*.strip2 {
	background-image: url(https://images.unsplash.com/photo-1503326782762-2926a1fb8651?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f9ca604034e03b68d844857e276e3ebb&auto=format&fit=crop&w=1953&q=80);
	background-size: cover;
	height: 40%;
	width: auto;
	padding: 10px;
	text-align: center;
}*/

.grey-card {
	background-color: rgb(240, 240, 240);
}

.card {
	padding-left: 0px;
	padding-right: 0px;
	font-weight: normal;
	text-align: center;
	border: 0px;
	border-radius: 12px;
}

.card-title {
    margin-bottom: .75rem;
    margin-top: .75em;
}

.card-body {
    padding: 3.25rem;
}

.card-footer {
	position:relative;
	text-align: center;
    background-color: rgba(0,0,0,0.00);
    border-top: 0px solid rgba(0,0,0,.125);
}

/*.col-xs-12, .col-md-4, .col-lg-4 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}*/

.card img {
	padding: 0px;
	width: 6rem;
}

.card h2 {
	padding: 0px;
}

.card h2:hover {
	color: #3842ff;
}

.card-body li {
    padding-right: 0%;
    padding-left: 0%;
    margin-left: 3%;
   	text-align: left;
	list-style-type: disc;
	font-size: 1.2rem;
}

.card-body p {
   	text-align: left;
}

/*li {
    padding-right: 20%;
    padding-left: 23%;
   	text-align: left;
	list-style-type:none;
}*/

dl, ol, ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left:1%;
}

/*index.html container ends.*/


/*article.html setting begins.*/

.container-article{
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	border: 0px;
}

.container-article .none li {
	list-style-type: none;
    padding-left:1%;
}

.container-article .disc li {
	list-style-type: disc;
}

#article2 {
	background-color: rgb(240, 240, 240);
}

.container-article h1 {
	font-size: 2.5rem;
	color: red;
	font-weight: lighter;
	text-align: center;	
}

.container-article li {
	margin-left: 1.75rem;
}

/*article.html setting ends.*/


/*resource.html setting begins.*/

.container-section {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 14%;
	padding-right: 14%;
}

#section2, #section4, #section6 {
	background-color: rgb(240, 240, 240);
}

.container-section h1 {
	font-size: 2.6vw;
	color: red;
	font-weight: normal;
	text-align: center;
}

/*resource.html setting ends.*/

/*activity.html setting begins.*/

.container-activity{
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	border: 0px;
}

#activity2 {
	background-color: rgb(240, 240, 240);
}

.container-activity h1 {
	font-size: 2.6vw;
	color: red;
	font-weight: lighter;
	text-align: center;	
}

#timetable img {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.poster-image {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;     /*These three lines place pictues in the middle!*/
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*activity.html setting ends.*/

/*return component in article.html and resource.html begins.*/
.return {
	font-size: 1.2vw;
	text-align: right;
	padding-right: 2%;
}
/*return component in article.html and resource.html ends.*/

/*footer begins.*/

.footer {
	background: rgb(230, 230, 230);
	padding-top: 1rem;
	padding-bottom: 5rem;
	height: 15%;
	font-size: 1.2vw;
	color: rgb(10, 10, 10);
	text-align: center;
}

/*.footer h4 {
	font-size: 1.5vw;
	color: #660000;
}

.footer ul {
    margin-top: 0;
    margin-bottom: 0;
}*/

.footer a:hover {
	color: blue;
}

/*footer ends.*/