body {
	background-color: rgb(210, 210 210);
	color: black;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: lighter;
	color:#69140E;
}

h2 {
	font-size: 25px;
}

a {
	text-decoration: none;
	/*check*/
	color:#3B559F;
}

a:hover{
	text-decoration: none;
	color: purple;
}

#banner {
	background-image: url(https://images.unsplash.com/photo-1517683005126-77eae06eff34?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e907fe0823b3e5861f4147a4e95a5aa4&auto=format&fit=crop&w=1789&q=80);
	background-size: cover;
	height: 600px;
	padding: 100px;
	text-align: center;
}

#banner h1 {
	color: white;
}

#banner p {
	color: white;
	font-size: 22px;
	margin: 10px;
	opacity: 0.75;
	font-weight: lighter;
}

#banner p a {
	font-size: 25px;
	border-radius: 8px;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

#strip1 {
	background-image: url(https://images.unsplash.com/photo-1455058683937-c45857082982?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=20a6c5d5f8514587e3933d6e6bfd06ef&auto=format&fit=crop&w=2067&q=80);
	background-size: cover;
	height: 800px;
	width: auto;
	padding: 10px;
	text-align: center;
}


#strip2 {
/*	background-image: url(https://images.unsplash.com/photo-1503326782762-2926a1fb8651?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f9ca604034e03b68d844857e276e3ebb&auto=format&fit=crop&w=1953&q=80);*/
	background-size: cover;
	height: 350px;
	width: auto;
	padding: 10px;
	text-align: center;
}

.card {
  padding: 40px;
  font-weight: lighter;
  text-align: center;
}

#footer {
	background: rgb(240, 240, 240);
	padding: 20px;
	height: 100px;
	font-size: 20px;
	text-align: center;
	color: rgb(10, 10, 10);
}

#footer a:hover {
	color: rgb(170, 170, 170);
}